* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#book_container,#cart_container {
  background-color: aquamarine;
  display: flex;
}
img {
  width: 100px;
}
.ebook {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
